<div class="'container">
	<div class="row">
		<div class="col-md-6 col-md-offset-1">
			<h1> Add MailBox </h1>
			<form (ngSubmit)="onSubmit(f)" #f= "ngForm">
				<div>
					<div class="form-group">
						<label for="userName"> User Name </label>
						<input type="text" 
								class="form-control" 
								id="userName"
							 	ngModel
							 	name="userName">		
					</div>
					<div class="form-group">
						<label for="password"> Password </label>
						<input type="password" 
								class="form-control" 
								id="password"
							 	ngModel
							 	name="password">		
					</div>
					<div class="form-group">
						<label for="SMTP Host">SMTP Host </label>
						<input type="text" 
								class="form-control" 
								id="SMTP Host"
							 	ngModel
							 	name="SMTP Host"
							 	required>		
					</div>
					<div class="form-group">
						<label for="SMTP Host">SMTP Port </label>
						<input type="text" 
								class="form-control" 
								id="SMTP Host"
							 	ngModel
							 	name="SMTP Host"
							 	required>		
					</div>
					<div class="form-group">
						<label for="POP3 Host"> POP3 Host </label>
						<input type="text" 
								class="form-control" 
								id="POP3 Host"
							 	ngModel
							 	name="POP3 Host"
							 	required>		
					</div>
					<div class="form-group">
						<label for="POP3 Port"> POP3 Port </label>
						<input type="text" 
								class="form-control" 
								id="POP3 Port"
							 	ngModel
							 	name="POP3 Port">		
					</div>
					<button type="submit" class="btn btn-primary btn-sm"> Add Mailbox </button>
				</div>
			</form>
		</div>
	</div>	
</div>


