 <div class="jumbotron">
    <div class="container">
  <h1>Right Resource</h1>      
  <p>Even with innovation some companies find it hard to retain their business. So to be on top of the game you have to adapt to change in as little time as possible and migrate to the new normal as fast as possible you can. How is this possible? You outsource where you can and take in qualified short term staff to fill the technology gaps.</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="http://www.r2techllc.com/">Learn more &raquo;</a></p>
</div>
</div>
    <hr class="my-4">
   <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Candidate Search</h2>
        <p>Search Right Candidates</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
      <span class="col-md-4">
        <h2>Requirement Search</h2>
        <p>View the Requirements</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </span>
      <div class="col-md-4">
        <h2>Mailbox</h2>
        <p>Find New Requirements</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          
      </div>
    </div>
    </div>
    <hr>
    <div><footer align="center">&copy 2017 RR Team</footer></div>