<div class="'container">
	<div class="row">
		<div class="col-md-6 col-md-offset-1">
			<h1> Add User </h1>
			<form (ngSubmit)="onSubmit(f)" #f= "ngForm">
				<div>
					<div class="form-group">
						<label for="userName"> User Name </label>
						<input type="text" 
								class="form-control" 
								id="userName"
							 	ngModel
							 	name="userName">		
					</div>
					<div class="form-group">
						<label for="password"> Password </label>
						<input type="password" 
								class="form-control" 
								id="password"
							 	ngModel
							 	name="password">		
					</div>
					<div class="form-group">
						<label for="firstName">First Name </label>
						<input type="text" 
								class="form-control" 
								id="firstName"
							 	ngModel
							 	name="firstName"
							 	required>		
					</div>
					<div class="form-group">
						<label for="lastName"> Last Name </label>
						<input type="text" 
								class="form-control" 
								id="lastName"
							 	ngModel
							 	name="lastName"
							 	required>		
					</div>
					<div class="form-group">
						<label for="Email"> Email </label>
						<input type="email" 
								class="form-control" 
								id="Email"
							 	ngModel
							 	name="Email">		
					</div>
					<button type="submit" class="btn btn-primary btn-sm"> Add User </button>
				</div>
			</form>
		</div>
	</div>	
</div>


