<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Welcome</title>
</head>
<body>
	<a href="requirement/addUI">Add Requirement</a>&nbsp;&nbsp;
	<a href="requirement/listUI">List Requirements</a>&nbsp;&nbsp;
	<a href="requirement/searchUI">Search Requirements</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="candidate/addUI">Add Candidate</a>&nbsp;&nbsp;
	<a href="candidate/listUI">List Candidates</a>&nbsp;&nbsp;
	<a href="candidate/searchUI">Search Candidates</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="email/addUI">Load Email</a>&nbsp;&nbsp;
	<a href="email/listUI">List Email</a>&nbsp;&nbsp;
	<a href="../email/searchUI">Search Email</a>&nbsp;&nbsp;
	<h1>Welcome to RightResource</h1>

</body>
</html>